<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <link rel="stylesheet" href="{% static 'Proyectoweb/css/style.css' %}">
</head>
<body>
    <header>
        <nav class="Navegacion">
            <a href="{% url 'Index' %}">Inicio</a>
            <a href="{% url 'Circuitos' %}">Circuito</a>
            <a href="{% url 'Electromagnetismo' %}">Electromagnetismo</a>
            <a href="{% url 'Calculadora' %}">Calculos</a>
        </nav>
        <section class="textos-header">
            <h1>Calculadora</h1>
        </section>
    </header>
    <main>
        <h2>Calculadora de Física</h2>
    
        <form method="post">
            {% csrf_token %}
            <h3>Resistencia de un circuito serie</h3>
            <label for="resistencia1">Resistencia 1 (Ω):</label>
            <input type="number" id="resistencia1" name="resistencia1">
            <label for="resistencia2">Resistencia 2 (Ω):</label>
            <input type="number" id="resistencia2" name="resistencia2">
            <button type="submit" name="calculo" value="resistencia_serie">Calcular Resistencia</button>
    
            <h3>Resistencia de un circuito en paralelo</h3>
            <label for="resistencia3">Resistencia 1 (Ω):</label>
            <input type="number" id="resistencia3" name="resistencia3">
            <label for="resistencia4">Resistencia 2 (Ω):</label>
            <input type="number" id="resistencia4" name="resistencia4">
            <button type="submit" name="calculo" value="resistencia_paralelo">Calcular Resistencia</button>

            <h3>Resistencia de un circuito mixto</h3>
            <label for="resistencia5">Resistencia 1 (Ω):</label>
            <input type="number" id="resistencia5" name="resistencia5">
            <label for="resistencia6">Resistencia 2 (Ω):</label>
            <input type="number" id="resistencia6" name="resistencia6">
            <label for="resistencia7">Resistencia 3 (Ω):</label>
            <input type="number" id="resistencia7" name="resistencia7">
            <button type="submit" name="calculo" value="resistencia_mixto">Calcular Resistencia</button>

        </form>

        {% if resultado %}
            <h2>Resultado:</h2>
            <p>{{ resultado }}</p>
        {% endif %}
    </main>
</body>
<footer>
    <div class="contenedor-footer">
        <div class="content-footer">
            <h4>Sobre nosotros</h4>
            <p>Somos un equipo dedicado a la divulgación de la física y sus aplicaciones. Creemos en el poder de la educación y el conocimiento para cambiar el mundo.</p>
        </div>
        <div class="content-footer">
            <h4>Citas Inspiradoras</h4>
            <p>"La imaginación es más importante que el conocimiento." - Albert Einstein</p>
            <p>"Lo que no se puede imaginar, no se puede descubrir." - Richard Feynman</p>
            <p>"El universo parece estar en gran parte compuesto de ruido." - Brian Greene</p>
        </div>
        <div class="content-footer">
            <h4>Contacto</h4>
            <p>Tunja, Colombia</p>
            <p>(+57) 305 4082427</p>
            <p>edgardlpl@hotmail.com</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2023 Física. Todos los derechos reservados.</p>
    </div>
</footer>
</html>